<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=".././templates/css/style.css" type="text/css" rel="stylesheet" >
    
    <!-- <script src=".././templates/js/script.js" defer></script> -->
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h1>{{ .Title}}</h1>

            <form action="/ascii-art" method="post">
                <textarea name="input" id="textarea" placeholder="Enter your text..." style="margin-bottom: 10px;"></textarea>
                    
                
                    <select name="banner" id="" style="margin-bottom: 10px;">
                        <option value="standard">Standard</option>
                        <option value="shadow">Shadow</option>
                        <option value="thinkertoy">thinkertoy</option>
                    </select>
                    <button type="submit" name="action" value="submit">Submit</button>
                    <button type="submit" name="action" value="download">Download</button>
                </form>
                
                {{ if .Item }} 
                    <pre>{{ .Item }}</pre>
                {{ end }}
            </div>
</body>
</html>