<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=".././templates/css/style.css" type="text/css" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <div class="error-msg">
        <h1> {{ .Title }} </h1>
        <p> {{ .Item }}</p>
        <a href="/" >Home</a>
        <div style="margin-bottom: 20px;"></div>
        <pre>
            _____             
         .-'     '-.          
       .'           `.        
      /   ,      .    \       
     :                 :      
     |                 |      
     :   \        /    :      
      \   `.____.'    /       
       `.           .'        
         `-._____.-'          
</pre>
    </div>
</body>
</html>